/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.container {
  margin: 0 auto;
  inline-size: var(--main-size);
}

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--main-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  margin-block-start: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(120px, calc(54/182 * 100%), 136px);
  padding-block-end: 19px;
  background-color: var(--bg-color);
}

.header__content {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
}

.header__logo {
  font-size: var(--header-logo-font-size);
  line-height: 49px;
  margin-block-end: 20px;
  text-decoration: none;
}

.header__logo:focus-visible {
  outline: none;
}

.header__title {
  font-size: var(--header-title-font-size);
  margin-block-end: 25px;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-left: 21px;
}

.theme-menu__list {
  text-align: left;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 14px;
}

.theme-menu__button {
  background-color: transparent;
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  text-transform: uppercase;
  transition: opacity .3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  width: 0%;
  transition: width 0.3s;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: block;
  block-size: 14px;
  inline-size: 14px;
  position: absolute;
  inset-inline-start: -20px;
  color: var(--accent-color);
}