/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.container {
  margin: 0 auto;
  inline-size: var(--main-size);
}

.page {
  color: var(--accent-color, #000000);
  font-family: var(--main-font);
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-image-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color, #000000);
  padding-block-start: clamp(120px, calc(54/182 * 100%), 136px);
  padding-block-end: 19px;
  background-color: var(--bg-color, #ffffff);
}

.header__content {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-self: center;
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
}

.header__logo {
  margin-block-end: 20px;
  font-size: var(--header-logo-font-size);
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo:focus-visible {
  outline: none;
}

.header__title {
  margin-block-end: 25px;
  font-size: var(--header-title-font-size);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-left: 21px;
}

.theme-menu__list {
  text-align: left;
}

.theme-menu__item {
  cursor: pointer;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity .3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--accent-color, #000000);
  transition: inline-size .3s ease;
  inset-block-end: -3px;
  inset-inline-start: 0;
  block-size: 2px;
  inline-size: 0;
}

.theme-menu__button:focus::after {
  inline-size: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  display: block;
  color: var(--accent-color, #000000);
  animation: arrow-move 0.5s infinite ease-in-out alternate;
  block-size: 14px;
  inline-size: 14px;
  inset-inline-start: -20px;
  inset-block-start: 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-block-end: 50px;
}

.card {
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #ffffff);
}

.card__title {
  padding: 4px 10px 4px;
  color: var(--accent-color, #000000);
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-title-weight);
}

.card__image {
  position: relative;
  border-block-start: 2px solid var(--accent-color, #000000);
  border-block-end: 2px solid var(--accent-color, #000000);
}

.card__image-label {
  position: absolute;
  padding-inline-end: clamp(0.6875rem, 0.40133rem + 1.221vw, 1.5rem);
  padding-block-start: clamp(1.375rem, 1.33094rem + 0.188vw, 1.5rem);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--label-color),
    0 1px var(--label-color),
    1px 0 var(--label-color),
    0 -1px var(--label-color);
  inset-block-start: 0;
  inset-inline-end: 0;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-color)) or (text-stroke: 1px var(--label-color))) {
  .content__label-text {
    text-shadow: none;
    -webkit-text-store: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
  }
}

.card__image img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.image-saturate {
  filter: saturate(0.3);
}

.image-saturate-second {
  filter: saturate(3);
}

.image-hue {
  filter: hue-rotate(35deg);
}

.image-invert {
  filter: invert(0.8);
}

.image-sepia {
  filter: sepia(91.3%);
}

.image-blur {
  filter: blur(10px);
}

.image-hue-rotate {
  filter: hue-rotate(90deg) contrast(0.5) brightness(100%);
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-block-end: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--card-text-weight);
}

.card__text-top {
  margin-block-end: 27px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color, #000000);
  padding: 10px 35px;
  box-shadow: 0 0 0 var(--accent-color, #000000);
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-color, #ffffff);
  transition: box-shadow .3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000000);
  transition: inline-size 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 0;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  position: relative;
  color: var(--like-btn-color);
  mix-blend-mode: difference;
}

.card__icon-button,
.button {
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 6px;
  border: 0;
  padding: 1px;
  outline: 2px solid transparent;
  outline-offset: -1px;
  background-color: transparent;
  transition: outline 0.3s ease;
  block-size: 36px;
  inline-size: 39px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000000);
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
}

.save.container {
  inline-size: clamp(306px, 18.4868rem + 2.723vw, 335px);
  max-inline-size: 335px;
}

.save {
  margin-block-end: 100px;
}

.save__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 15px 20px;
  inline-size: 100%;
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #ffffff);

  @media (width <=375px) {
    flex-direction: column;
    padding: 15px 20px;
  }
}

.save__button span {
  text-wrap: nowrap;
}

dialog {
  border: 2px solid var(--accent-color, #000000);
  padding: 0;
  background-color: var(--bg-color, #ffffff);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog-save__wrapper {
  padding: 30px 42px;
  max-inline-size: 353px;
  inline-size: 100%;
}

.dialog-save__content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.save__icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  fill: var(--like-btn-color, #ffffff);
  inline-size: clamp(21px, 1.905rem + -0.6573vw, 28px);
  block-size: clamp(21px, 1.905rem + -0.6573vw, 28px);
  mix-blend-mode: difference;
}

.dialog__svg {
  inline-size: 39px;
  block-size: 39px;
  color: var(--accent-color, #000000);
}

.dialog-save__text {
  color: var(--accent-color, #000000);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
}

.dialog-save__button {
  inline-size: 100%;
}