/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --bg-color: #ffffff;
  --accent-color: #000000;
  --card-text-weight: 400;
  --card-title-weight: 700;
  --label-color: rgba(255, 255, 255, 0.5);
  --color-gradient-repeating: #d3d3d3;
  --color-gradient-top: #e7e7e7;
  --color-gradient-bottom: #1a1a1a;
  --bg-image-color: repeating-linear-gradient(var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
    linear-gradient(var(--color-gradient-top) 0.01%, var(--color-gradient-bottom));
  --like-btn-color: #fff;
}

:root.theme-dark {
  --bg-color: #000000;
  --accent-color: #00CC14;
  --label-color: rgba(0, 0, 0, 0.5);
  --card-text-weight: 465;
  --card-title-weight: 785;
  --color-gradient-repeating: #000;
  --color-gradient-top: #007f0c;
  --color-gradient-bottom: #004306;
  --bg-image-color: repeating-linear-gradient(var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
    linear-gradient(var(--color-gradient-top) 0.01%, var(--color-gradient-bottom));
  --like-btn-color: #00cc14;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --accent-color: #00CC14;
    --card-text-weight: 465;
    --card-title-weight: 785;
    --label-color: rgba(0, 0, 0, 0.5);
    --color-gradient-repeating: #000;
    --color-gradient-top: #007f0c;
    --color-gradient-bottom: #004306;
    --bg-image-color: repeating-linear-gradient(var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
      linear-gradient(var(--color-gradient-top) 0.01%, var(--color-gradient-bottom));
    --like-btn-color: #00cc14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --accent-color: #000000;
    --card-text-weight: 400;
    --card-title-weight: 700;
    --label-color: rgba(255, 255, 255, 0.5);
    --color-gradient-repeating: #d3d3d3;
    --color-gradient-top: #e7e7e7;
    --color-gradient-bottom: #1a1a1a;
    --bg-image-color: repeating-linear-gradient(var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
      linear-gradient(var(--color-gradient-top) 0.01%, var(--color-gradient-bottom));
    --like-btn-color: #fff;
  }
}