/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter-Variable, Arial, sans-serif;
  --accent-font: PressStart2P, Arial, sans-serif;
  --card-text-weight: 400;
  --card-title-weight: 700;
  --bg-color: #ffffff;
  --accent-color: #000000;
}